/*Mr. Console Log*/
body{
    background-color:#5a656b;
    margin: 0;
    width: 100%;height: 100%;/*web page config*/
}
.topBar{/*whole top*/
    width: 100%;
    text-align: center;
    padding: 0;
    margin:auto;
}
.topBar ul a,.topBar ul a li{/*li and inside*/
    display: inline-block;/*block allow box width and height -> inline property*/
    border-radius: 30px;width: 150px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family:monospace;
}
.topBar ul a li:hover{
    background-color: rgba(62, 198, 216, 0.686);
    border-radius: 30px;color:black;
    transform: translateY(5px);/*animation when click*/
    transition: transform 150ms linear;/*animation config*/
}
.darkModeIcon{
    font-size: x-large;
    width: 0;height: 0;/*no set width and height*/
    position: relative;
    top:-45px;left:85%;/*adjust position*/
}